/* could be also done in chakra props */
.transactionsContainer {
    grid-template-areas:
        "transactionForm"
        "balance"
        "transactionsList"
}

.balanceFilterContainer {
    grid-area: balance;
}

.transactionForm {
    grid-area: transactionForm;
}

.transactionsList {
    grid-area: transactionsList;
    width: 100%;
}

/* we could have separate files for each of component it the amount of code grows - @pg*/
.transactionItem {
    flex-direction: column;
    text-align: left;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 1rem;
    margin: 1rem;
    font-size: 1rem;
}

/* readability could be better with .sass - @pg*/
@media (min-width: 48em) {
    .transactionsContainer {
        width: 80%;
        margin: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "balance            transactionForm"
            "transactionsList transactionsList";
        justify-items: stretch;
    }

    .balanceFilterContainer {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 1rem;
        margin-right: 0.5rem;
    }

    .transactionForm {
        margin-top: 1rem;
        margin-left: 0.5rem;
    }

    .transactionsList {
        margin: 1rem 0 0 0rem;
    }
    
}

.card {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


